*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: white;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

/*HEADER*/

header{
    background-color: white;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.flex{
    display: flex;
}

.head1{
    background-color: #3161e0;
    justify-content: space-between;
    padding: 5px;
    color: white;
}

.head2{
  
    padding: 50px;
    text-align: center;
}

.intro p{
    text-align: center;
}

#headbut{
    padding: 10px;
}

button{
    border-radius: 50%;
    padding: 20px;
}


/*SECTION1*/

.section-nobg{
    background-color: whitesmoke;
}

.IMG{
    width: 60%;
    display: inline-block;
}

.TEXT{
    width: 40%;
}

/*SECTION2*/

.section-bg{
    background-color: #f6f6f6;
}

/*SECTION3*/

.section-nobg{
    background-color: whitesmoke;
}

/*SECTION4*/

.section-bg{
    background-color: #f6f6f6;
    text-align: center;
}

/*FOOTER*/

.foot{
    background-color: #23272a;
}

.foot-top{
    flex-direction: column;
}
