*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: white;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

/*HEADER*/

header{
    background-color: white;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.flex{
    display: flex;
}

.head1{
    background-color: #3161e0;
    justify-content: space-between;
    padding: 5px;
    color: white;
    align-items: center;
}

.menu{
    word-spacing: 25px;
    font-size: 12px;
}

a{
    text-decoration: none;
    color: white;
}

.head2{
    padding: 50px 200px;
    text-align: center;
    margin-top: 25px;
    
}

h1{
    color: white;
    padding: 10px;
}


.intro p{
    text-align: center;
    color: white;
    padding: 30px;
    line-height: 30px;
}

#headbut{
    padding: 10px;
    color: black;
    background-color: white;
    border: none;
}

button{
    border-radius: 30px;
    padding: 15px 20px;
    border: none;
}

#headbut-two{
    background-color: #23272a;
    color: white;
}

.twobut{
    padding: 50px;
}

/*SECTION1*/

.section-nobg{
    padding: 50px;
}

.IMG{
    width: 60%;
}

.TEXT{
    width: 40%;
    padding: 40px;

}

.TEXT h2{
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 20px;
}

.TEXT p{
    line-height: 30px;

}

#waves{
    background-color: #f6f6f6;
}

/*SECTION2*/

.section-bg{
    background-color: #f6f6f6;
    padding: 50px;
}

/*SECTION3*/

.section-nobg{
    padding: 50px;
}

/*SECTION4*/

.section-bg{
    background-color: #f6f6f6;
    text-align: center;
    padding: 50px;
}

.lasttext h2{
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 20px;
}

.lasttext p{
    line-height: 30px;
}

h4{
    font-size: 20px;
    margin-bottom: 25px;
}

/*FOOTER*/

.foot{
    background-color: #23272a;
}

.foot-top{
    margin-bottom: 20px;
    
}

.ending{
    width: 40%;
    padding-top: 30px;
}

h3{
    font-size: 30px;
    color: #3161e0;
}

.ita{
    padding-top: 20px;
}

ul#social li{
    display: inline;
}

.little-test{
    width: 15%;
    padding-top: 30px;
}

h4{
    color: #3161e0;
    font-size: 14px;
}

.little-test ul li{
    color: white;
    list-style-type: none;
    line-height: 30px;
    font-size: 13px;
}

.foot-bottom{
    justify-content: space-between;
    padding: 40px 0 40px;
}

